

div{
 margin-top: -10px;
    margin-left: 30px;
    background-color: lightgrey;
    width: 1430px;
    height: 740px;
}
table{
border-collapse: collapse;
    position: absolute;
    left: 96px;
    top: 56px;
}
td {
    width: 200px;
    height: 55px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;

}

th{
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    background-color: aqua ;

}
tr td:first-child{background-color: aqua;}
tr:nth-child(odd){background-color: grey;}
